<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MusicCollaboration</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExampleSongServlet</display-name>
    <servlet-name>ExampleSongServlet</servlet-name>
    <servlet-class>com.smithdtyler.music.servlet.ExampleSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleSongServlet</servlet-name>
    <url-pattern>/ExampleSongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleSongServlet</display-name>
    <servlet-name>SimpleSongServlet</servlet-name>
    <servlet-class>com.smithdtyler.music.servlet.SimpleSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleSongServlet</servlet-name>
    <url-pattern>/SimpleSongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.smithdtyler.music.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.smithdtyler.music.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for creating users</description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>com.smithdtyler.music.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
</web-app>